<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <add key="POSID" value="KATALA01"></add>
        <add key="PRINTER_NAME" value="UNIT1"></add>
        <add key="CASHDRAWER_NAME" value="UNIT2"></add>
		<add key="Katala.SystemSecurity.svcSystemSecurity" value="http://localhost/KatalaWebServices/svcSystemSecurity.Asmx"/><add key="Katala.HouseKeeping.svcHouseKeeping" value="http://localhost/KatalaWebServices/svcHouseKeeping.Asmx"/><add key="Katala.HRIS.svcHRIS" value="http://localhost/KatalaWebServices/svcHRIS.Asmx"/><add key="Katala.Membership.svcMembership" value="http://localhost/KatalaWebServices/svcMembership.asmx"/><add key="Katala.Warehouse.svcWarehouse" value="http://localhost/KatalaWebServices/svcWarehouse.asmx"/><add key="Katala.POS.svcPOS" value="http://localhost/KatalaWebServices/svcPOS.asmx"/>
	<add key="Katala.Loan.svcLoan" value="http://localhost/katalawebservices/svcloan.asmx"/><add key="Katala.Loan.svcLoan" value="http://localhost/katalawebservices/svcloan.asmx"/><add key="Katala.Retail.svcRetail" value="http://localhost/KatalaWebServices/svcRetail.asmx"/></appSettings>
</configuration>
